* {
    padding: 0;
    margin: 0 auto;
}

@font-face {
    font-family:"hello-world";
    src: url("../fontes/hello-world.ttf");
}

.section-apresentacao {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-image: url("../imagens/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

.div-apresentacao {
    margin-top: 20%;
    margin-bottom: 12%;
}

.titulo-apresentacao {
    color: aqua;
    font-family:"hello-world";
    font-size: 7em;
    font-weight: bolder;
    text-shadow: 4px 4px purple;
}

.sub-titulo-apresentacao {
    color: aqua;
    font-family:"hello-world";
    font-size: 3em;
    font-weight: bolder;
    text-shadow: 3px 3px purple;
    margin-top: 5%;
    margin-left: 40%;
}

.section-luis {
    background-color: white;
    display: flex;
    flex-direction: row;
}

.sobre-luis {
    border: 2px solid rgb(230, 97, 230);
    width: 40%;
    height: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 12px;
}

.foto-luis {
    border: 2px solid rgb(230, 97, 230);
    width: 30%;
    height: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 12px;
}

.foto-luis img {
    width: 100%;
    border-radius: 9px;
}

.titulo-sobre-luis {
    text-align: center;
    color: aqua;
    font-family:"hello-world";
    text-shadow: 2px 2px rgb(59, 8, 59);
    background-color: rgb(161, 21, 189);
    border-radius: 10px;
}

.texto-sobre-luis {
    padding: 3%;
}

.texto-sobre-luis p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    margin-top: 2%;
}

.icones {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.icones h4 {
    color: rgb(10, 190, 190);
    font-family:"hello-world";
    text-shadow: 2px 2px rgb(201, 53, 201);
    font-size: 1.8em;
    margin-bottom: 5%;
}

.icones-contato {
    display: flex;
    width: 70%;
}

.icones-contato a i {
    font-size: 2em;
    text-decoration: none;
    color: rgb(201, 53, 201);
    text-shadow: 1px 1px aqua;
}

.icones-contato a i:hover {
    color: aqua;
    text-shadow: 1px 1px rgb(201, 53, 201);
}